<!-- Login -->
<div class="modal-header">
	<h5 class="modal-title">Employer's registration form</h5>
	<button type="button" class="close" style="margin-top: -0.6rem; margin-bottom: 0;" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true" style="font-size: 3.6rem; font-family: merriweather-regular, serif;">&times;</span>
	</button>
</div>
<div class="modal-body">
	<h5>Please click <a (click)="openSignUp()">Sign Up</a> if you do not have a registered account, or</h5>
	<button class="loginBtn loginBtn--facebook" (click)="loginFacebook()" *ngIf="!(user | async)?.uid">
		Login with Facebook
	</button>
		<br>
		<button class="loginBtn loginBtn--google" (click)="loginGoogle()" *ngIf="!(user | async)?.uid">
		Login with Google
	</button>
		<br>
	<form (ngSubmit)="onLogIn(f)" #f="ngForm">
		<label for="email">Enter Your Email</label>
		<input type="email" id="email" name="email" ngModel placeholder="Enter Your Email" required>
		<label for="password">Enter Your Password</label>
		<input type="password" id="password" name="password" ngModel placeholder="Enter Your Password" required>
		<button type="submit">Submit</button>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
<!-- /sign up-->    
