<!-- Login -->
<section class="login background dark-background row align-items-center text-center m-0">
 	<div class="col-10 m-auto">
		<h3>Employer's registration form</h3>
		<h4>Please click <a routerLink="/signup" routerLinkActive="active">Sign Up</a> if you do not have a registered account</h4>
		<form class="position-relative" #loginForm="ngForm" (submit)="onSubmitLogin()">
			<label class="text-secondary py-2" for="email">Enter Your Email</label>
			<input class="text-center mx-auto" type="email" name="email" [(ngModel)]="email" placeholder="Enter Your Email" required>
			<label class="text-secondary py-2" for="password">Enter Your Password</label>
			<input class="text-center mx-auto" type="password" name="password" [(ngModel)]="password" placeholder="Enter Your Password" required>
			<button [disabled]="loginForm.form.invalid" class="mt-2" type="submit">Log In</button>
			<b class="text-danger d-block position-absolute text-center w-100">{{errorMessage}}</b>
		</form>
	</div>
</section> 
<!-- /login-->    
