<!-- about section -->
  <section class="about dark-background row align-items-center text-center m-0">
      <div class="col-10 m-auto">
        <h4>Who is for hire?</h4>
        <p>We are group of people dedacated to provide the information for the individuals who is in need of a job and willing to learn and work hard, but currently have no experience...</p>
        <p>We also provide an opportunity for the employer who is in need of a hardworking employee to post an ad on this website...</p> 
        <a class="button stroke" routerLink="/process" routerLinkActive="active">Get Started</a>
      </div>  	
  </section> 
<!-- /about -->