<!-- Process Section -->
  <section class="process">  

   	<div class="row process-intro">
   		<div class="col-twelve with-bottom-line">
   			<h4>Process</h4>
   			<h1>How it works?</h1>
				 <p class="lead">If you are looking to hire anybody for a job, click <br/> <a routerLink="/employer" routerLinkActive="active">Employer</a></p>
				 <p class="lead">If you are looking for a job, click <br/> <a routerLink="/jobs" routerLinkActive="active">Job Seeker</a></p>
   		</div>   		
   	</div>

   	<div class="row process-content">
   		<div class="left-side">
				<h3>Employer</h3>
   			<div class="item" data-item="1">
   				<h4>Sign Up</h4>
   				<p class="lead">If you are an employer and looking to hire somebody, please sign up first.</p>
   			</div>
   			<div class="item" data-item="2">
	   			<h4>Post Your Job Ad</h4>
	   			<p class="lead">Once you filled up our short registration form and submitted the information, you will be able to post your ad with the description of the job / position you need an employee for ...</p>
   			</div>		
   		</div>
   		
   		<div class="right-side">
   			<h3>Job Seeker</h3>
   			<div class="item" data-item="1">
   				<h4>Pick A Category</h4>
   				<p class="lead">If you are looking to get hired, pick the job category you like and browse through the job ads</p>
   			</div>
   			<div class="item" data-item="2">
   				<h4>Apply For The Job You Like</h4>
   				<p class="lead">Once you found the ad you like, contact the employer to apply for the selected position! That's all ...</p>
   			</div>
   		</div> 

   		<div class="image-part"></div>  			

   	</div>

  </section> 
<!-- /process-->    
