<!-- Process Section -->
  <section class="process">  

   	<div class="row process-intro">
   		<div class="col-twelve">
   			<h4 style="color: #05bca9;">The Process</h4>
   			<h2>How it works?</h2>
				<h4 style="color: #05bca9;" class="lead">If you are looking to hire anybody for a job, click<br /><a routerLink="/employer" routerLinkActive="active">Employer</a></h4>

					<h4>1 Sign Up</h4>
					<p class="lead">If you are an employer and looking to hire somebody,<br /> 
					please <a (click)="openSignUp()">Sign Up</a> first.</p>
					<p class="lead">Or <a (click)="openLogIn()">Log In</a> if you have registered already.</p>

					<h4>2 Post Your Job Ad</h4>
					<p class="lead">Once you filled up our short registration form and submitted the information, you will be able to post your ad with the description of the job / position you need an employee for ...</p>
				 
					<h4 style="color: #05bca9;" class="lead">If you are looking for a job, click <br/><br/> <a routerLink="/jobs" routerLinkActive="active">Job Seeker</a></h4>
		 
					<h4>Pick A Category</h4>
					<p class="lead">If you are looking to get hired, pick the job category you like and browse through the job ads</p>

					<h4>Apply For The Job You Like</h4>
					<p class="lead">Once you found the ad you like, contact the employer to apply for the selected position! That's all ...</p>

				</div>   		
   	</div>

   	<div class="row process-content">
   		
   		<div class="right-side">

   		</div> 		
   	</div>

  </section> 
<!-- /process-->    
