<!-- Jobs Section -->
  <section class="process">  

   	<div class="row process-intro">
   		<div class="col-twelve with-bottom-line">
   			<h4>Jobs</h4>
   			<h1>How it works?</h1>
   		</div>   		
   	</div>

   	<div class="row process-intro">
			<h4>Select a category</h4>
			<p class="lead">Select a job category fron the list that you are interested in.</p>
			<h4>Pick a job</h4>
			<p class="lead">Browse through the available positions.</p>
			<h4>Contact the employer</h4>
			<p class="lead">Contact the employer and schedule an interview.</p>			
   	</div>

  </section> 
<!-- /jobs-->    
