<!-- Employer Section -->
  <section class="process">  

   	<div class="row process-intro">
   		<div class="col-twelve with-bottom-line">
   			<h4 class="lol">Employer</h4>
   			<h1>How it works?</h1>
   		</div>   		
   	</div>

   	<div class="row process-content">
   				<h4>Sign Up</h4>
					<p class="lead">Digning up process is very easy, Just click on the Sign Up link anf fill up a registration form that takes only a few minustes and you are good to go!</p>
					<button class="btn btn-lg btn-outline-primary" (click)="open()">Sign Up</button>
					<h4>Log In</h4>
   				<p class="lead">If you have already registered, please click Log In and log into your account.</p>
	   			<h4>Post Your Job Ad</h4>
	   			<p class="lead">Once you filled up our short registration form and submitted the information, you will be able to post your ad with the description of the job / position you need an employee for ...</p>			
   	</div>

  </section> 
<!-- /employer-->    
