/**
 * =================================================================== 
 *
 *	TOC:
 *	01. webfonts  
 *	02. base style overrides
 *  03. forms
 *  04. buttons
 *  05. common styles
 *  06. header styles
 *  07. Shadow Overlay
 *  08. Home and About Section
 *  09. process section
 *	10. footer
 *
 * =================================================================== 
 */

/** 
 * ===================================================================
 * webfonts 
 *
 * ------------------------------------------------------------------- 
 */

@import url("fonts.scss");

/** 
 * ===================================================================
 * base style overrides
 *
 * ------------------------------------------------------------------- 
 */

html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.375px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.375px;
	}
}

html, body {
	height: 100%;
}
body {
	background: #14181E;
	font-family: "merriweather-regular", serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #737373;
}

/**
 * links 
 * -
 */

a, a:visited {
	color: #0087cc;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
	color: #ff7b29;
}

/**
 * typography  
 * -
 */

h1, h2, h3, h4, h5, h6 {
	font-family: "raleway-bold", sans-serif;
	color: #000;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}

p {
	color: #fff;
	font-size: 1.8rem;
}

p img {
	margin: 0;
}

p.lead {
	font-family: "merriweather-light", serif;
	font-size: 1.8rem;
	line-height: 1.8;
}
@media only screen and (max-width:768px) {
	p.lead {
		font-size: 1.7rem;
	}
}

em, i, strong, b {
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
em, i {
	font-family: "merriweather-italic", serif;
}
strong, b {
	font-family: "merriweather-bold", serif;
}
small {
	font-size: 1.1rem;
	line-height: inherit;
}
blockquote {
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
}
blockquote:before {
	content: "\201C";
	font-size: 8rem;
	line-height: 0px;
	margin: 0;
	color: #333;
	font-family: arial, sans-serif;
	position: absolute;
	top: 3rem;
	left: 0;
}
blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 1.9rem;
	line-height: 1.75;
}
blockquote cite {
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	line-height: 1.65;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited {
	color: #8d8d8d;
	border: none;
}
abbr {
	font-family: "merriweather-bold", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: #8d8d8d;
}
var, kbd, samp, code, pre {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}
pre {
	padding: 2.4rem 3rem 3rem;
	background: #F1F1F1;
}
code {
	font-size: 1.4rem;
	margin: 0 .2rem;
	padding: .3rem .6rem;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
}
pre > code {
	display: block;
	white-space: pre;
	line-height: 2;
	padding: 0;
	margin: 0;
}
pre.prettyprint > code {
	border: none;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
mark {
	background: #FFF49B;
	color: #000;
}

hr {
	border: solid #cfcfd5;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}

/**
 * Lists  
 * -
 */

ol {
	list-style: decimal;
}
ul {
	list-style: disc;
}
li {
	display: list-item;
}
ol, ul {
	margin-left: 1.7rem;
}
ul li {
	padding-left: .4rem;
}
ul ul, ul ol, ol ol, ol ul {
	margin: .6rem 0 .6rem 1.7rem;
}
ul.disc li {
	display: list-item;
	list-style: none;
	padding: 0 0 0 .8rem;
	position: relative;
}
ul.disc li::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #05bca9;
	position: absolute;
	left: -17px;
	top: 11px;
	vertical-align: middle;
}
dt {
	margin: 0;
	color: #05bca9;
}
dd {
	margin: 0 0 0 2rem;
}

/**
 * tables  
 * -
 */

table {
	border-width: 0;
	width: 100%;
	max-width: 100%;
	font-family: "raleway-regular", sans-serif;
}
th, td {
	padding: 1.5rem 3rem;
	text-align: left;
	border-bottom: 1px solid #E8E8E8;
}
th {
	color: #252525;
	font-family: "raleway-bold", sans-serif;
}
td {
	line-height: 1.5;
}
th:first-child, td:first-child {
	padding-left: 0;
}
th:last-child, td:last-child {
	padding-right: 0;
}
.table-responsive {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

/**
 * Spacing  
 * -
 */

button, .button {
	margin-bottom: 1.2;
}
fieldset {
	margin-bottom: 1.5rem;
}
input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.iw-custom-select {
	margin-bottom: 1.75rem;
}


/** 
 * ===================================================================
 * forms
 *
 * ------------------------------------------------------------------- 
 */

fieldset {
	border: none;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	display: block;
	height: 5rem;
	padding: 1.5rem 2rem;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: #737373;
	font-family: "merriweather-regular", sans-serif;
	font-size: 1.5rem;
	line-height: 3rem;
	border-radius: 3px;
	background: #FFFFFF;
	max-width: 100%;
	border: 1px solid #d5d5d5;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.ss-custom-select {
	position: relative;
	padding: 0;
	display: inline-block;
}
.ss-custom-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	margin: 0;
	line-height: 3rem;
	vertical-align: middle;
	padding-right: 4rem;
}
.ss-custom-select select option {
	padding-left: 2rem;
	padding-right: 2rem;
}
.ss-custom-select select::-ms-expand {
	display: none;
}
.ss-custom-select::after {
	content: '\f123';
	font-family: 'Ionicons';
	position: absolute;
	top: 50%;
	right: 18px;
	margin-top: -10px;
	bottom: auto;
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 15px;
	text-align: center;
	pointer-events: none;
	color: #252525;
}
textarea {
	min-height: 25rem;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: #000000;
	background: #f4fffe;
	border: 1px solid #d2fef9;
}
label, legend {
	font-family: "merriweather-bold", sans-serif;
	font-size: 1.4rem;
	margin-bottom: .6rem;
	color: #404040;
	display: block;
}
label span, legend span {
	color: #05bca9;
}
input[type="checkbox"], input[type="radio"] {
	display: inline;
}

/**
 * Style Placeholder Text  
 * -
 */

::-webkit-input-placeholder {
	color: #a1a1a1;
}
:-moz-placeholder {
	/* Firefox 18- */
	color: #a1a1a1;
}
::-moz-placeholder {
	/* Firefox 19+ */
	color: #a1a1a1;
}
:-ms-input-placeholder {
	color: #a1a1a1;
}
.placeholder {
	color: #a1a1a1 !important;
}


/** 
 * ===================================================================
 * buttons
 *
 * ------------------------------------------------------------------- 
 */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font-family: "raleway-bold", sans-serif;
	font-size: 1.6rem;
	height: 5rem;
	line-height: 5rem;
	padding: 0 3rem;
	margin: 0 .3rem 1rem 0;
	background: #d8d8d8;
	color: #252525;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 1000px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background: #05bca9;
	color: #FFFFFF;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	background: #04998a;
}
button.full-width, .button.full-width {
	width: 100%;
	margin-right: 0;
}
button.medium, .button.medium {
	height: 5.5rem !important;
	line-height: 5.5rem !important;
	padding: 0 1.8rem !important;
}
button.large, .button.large {
	height: 6rem !important;
	line-height: 6rem !important;
	padding: 0rem 3rem !important;
}
button.round, .button.round {
	padding-left: 3rem !important;
	padding-right: 3rem !important;
	border-radius: 1000px;
}
button.stroke, .button.stroke {
	background: transparent !important;
	border: 3px solid transparent;
	line-height: 4.4rem;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/** 
 * ===================================================================
 * common styles 
 *
 * ------------------------------------------------------------------- 
 */

.background {
	background: #14181E url(../assets/images/restaurant-bg.jpg) no-repeat center;
	background-size: cover;
}

@media only screen and (max-width:600px) {
	section h1 {
		font-size: 2.5rem;
	}
}

/** 
 * ===================================================================
 * header styles 
 *
 * ------------------------------------------------------------------- 
 */

header {
	width: 100%;
	z-index: 600;
	transition: all 0.3s ease-in-out;
	height: 66px;
	position: fixed;
	background: rgba(0, 0, 0, 0.9);
	top: 0;
}
header .row {
	width: auto;
	justify-content: space-between;
}

.logo h1 {
	display: block;
	margin-bottom: 0;
	font-size: 3.6rem;
	color: #fff;
	font-family: "merriweather-bold", serif;
}

/**
 * responsive:
 * header section
 * - 
 */

@media only screen and (max-width:768px) {
	.logo h1 {
		display: block;
		margin-bottom: 0.25rem;
		padding: 0;
		font-size: 2.8rem;
		border: none;
		font-family: "merriweather-bold", serif;
	}
}

/**
 * primary navigation
 * - 
 */

#main-nav-wrap, .main-navigation {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	right: 1.5em;
	z-index: 600;
}

/* hide toggle button */
a.menu-toggle {
	display: none;
}

/* main-nav-wrap */
#main-nav-wrap {
	font-family: "raleway-heavy", sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.main-navigation {
	min-height: 66px;
	display: inline-block;
	width: auto;
	text-align: left;
}

.main-navigation a {
	font-size: 1.4rem;
}

.main-navigation li {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 66px;
}
.main-navigation li a.active {
	color: #FFFFFF;
}
.main-navigation li a.active::after {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 80%;
	height: 3px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: #05bca9;
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation li.highlight a {
	color: #05bca9;
}
.main-navigation li.with-sep a {
	position: relative;
	padding-left: 22px;
	margin-left: 8px;
}
.main-navigation li.with-sep a::before {
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 20px;
	margin-top: -10px;
	background-color: rgba(255, 255, 255, 0.2);
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.main-navigation li:last-child {
	border: none;
}
/* navigation links */
.main-navigation li a {
	display: block;
	padding: 18px 7px;
	line-height: 30px;
	text-decoration: none;
	text-align: left;
	color: #98999a;
	position: relative;
	-moz-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.main-navigation li a:active {
	background-color: transparent !important;
}
.main-navigation li a:hover {
	color: #FFFFFF;
}

/**
 * mobile view - primary navigation
 * - 
 */

@media only screen and (max-width:1024px) {
	#main-nav-wrap {
		display: block;
		width: 100%;
		position: absolute;
	}
	a.menu-toggle {
		display: block;
		align-self: center;
		width: 2em;
		height: 2em;
	}

	.main-navigation.collapsed {
		display: none;
	}

	.main-navigation {
		background: rgba(20, 23, 28, 0.95);
		padding: 2px 42px;
		right: 0;
		top: 66px;
		width: 100%;
		height: 100%;
		clear: both;
		display: block;
	}
	.main-navigation > li {
		display: block;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted rgba(200, 200, 200, 0.08);

		&:first-child {
			padding-top: 1px;
		}

		&:last-child {
			padding-bottom: 1px;
		}
	}
	.main-navigation li a {
		display: block;
		color: #e6e6e6;
		width: auto;
		padding: 18px 0;
		line-height: 16px;
		border: none;
	}
	.main-navigation li a:hover {
		color: #ff7b29;
	}
	.main-navigation li.with-sep a {
		padding-left: 0;
		margin-left: 0;
	}
	.main-navigation li.with-sep a::before {
		display: none;
	}
	.main-navigation li a.active {
		background: none;
		color: #ff7b29;
	}
	.main-navigation li a.active:after {
		display: none;
	}
}

/** 
 * ===================================================================
 * Home and About Section
 *
 * ------------------------------------------------------------------- 
 */

.home,
.about,
.login {
	width: 100%;
	height: 100%;
	min-height: 720px;
}

.home h1 {
	font-family: "merriweather-bold", serif;
	font-size: 5.4rem;
	line-height: 1.334;
	margin-left: auto;
	margin-right: auto;
}

.home h4,
.about h4 {
	font-size: 2.2rem;
	line-height: 1.667;
	margin-bottom: 2rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}

.home .button,
.about .button {
	border-color: #FFFFFF;
	color: #FFFFFF;
	height: 6.6rem;
	line-height: 6rem;
	padding: 0 3rem !important;
	margin-top: 1.2rem;
	font-family: "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: .4rem;
}
.home .button:hover,
.about .button:hover {
	color: #05bca9;
	border-color: #05bca9;
}

/**
 * Responsive:
 * Home and About
 * -
 */

@media only screen and (max-width:1024px) {
	.home h1 {
		font-size: 4.8rem;
	}
}

@media only screen and (max-width:768px) {
	.home,
	.about {
		height: auto;
	}

	.home h1 {
		font-size: 4.2rem;
	}
}
@media only screen and (max-width:600px) {
	.home {
		min-height: 600px;
	}
	.home h1 {
		font-size: 2.8rem;
		margin-bottom: .9rem;
	}
}

/** 
 * ===================================================================
 * process section
 *
 * ------------------------------------------------------------------- 
 */

.process {
	background: #14181E url(../assets/images/restaurant-bg.jpg) no-repeat center;
	background-size: cover;
	width: 100%;
	height: auto;
	min-height: 100%;
}

/**
 * responsive:
 * process
 * -
 */



/** 
 * ===================================================================
 * footer
 *
 * ------------------------------------------------------------------- 
 */

footer {
	padding-bottom: 3rem;
	font-size: 1.5rem;
	line-height: 2.7rem;
	font-family: "raleway-medium", sans-serif;
	color: #465166;
}
footer a, footer a:visited {
	color: #05bca9;
}
footer a:hover, footer a:focus {
	color: #FFFFFF;
}
footer h4 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.03);
	padding-bottom: 1.2rem;
	margin-bottom: 1.2rem;
	color: #FFFFFF;
}
footer ul {
	margin-left: 0;
}
footer ul li {
	padding-left: 0;
}
footer {
	background: #171b23;
}

footer ul li {
	font-family: "raleway-bold", sans-serif;
	list-style: none;
}
footer ul a, footer ul a:visited {
	color: #465166;
}
footer ul a:hover, footer ul a:focus {
	color: #FFFFFF;
}
.footer-bottom .copyright span {
	display: inline-block;
}
.footer-bottom .copyright span::after {
	content: "|";
	display: inline-block;
	padding: 0 1rem 0 1.2rem;
	color: rgba(255, 255, 255, 0.1);
}
.footer-bottom .copyright span:last-child::after {
	display: none;
}

/**
 * responsive:
 * footer
 * -
 */

@media only screen and (max-width:768px) {
	footer {
		text-align: center;
	}
}

@media only screen and (max-width:600px) {
	.footer-main .site-links h4, .footer-main .social-links h4 {
		border: none;
	}
	.footer-main ul {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.footer-main ul li a {
		display: block;
		border-bottom: 1px solid rgba(255, 255, 255, 0.03);
		padding: .6rem 0;
	}
	.footer-main ul li:first-child a {
		border-top: 1px solid rgba(255, 255, 255, 0.03);
	}
}

/** 
 * ===================================================================
 * Custom Utilities
 *
 * ------------------------------------------------------------------- 
 */

.dark-background h1,
.dark-background h2,
.dark-background h3,
.dark-background h4,
.dark-background h5,
.dark-background p {
	color: #fff;
}

.light-background h1,
.light-background h2,
.light-background h4,
.light-background p {
	color: #000;
}

.overflow-hidden {
	overflow: hidden;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.7;

	&:hover {

	}
}